.List {
    width: 500px;
    margin: 20px;
    height: 500px;
    overflow-y: scroll;
    background-color: #f3f2ed;
}

@media only screen and (max-width: 600px) {
    .List {
        transform: scale(0.8);
        width: 460px;
        margin-bottom: 0px;
    }
}
/* 
.List::-webkit-scrollbar {
    display: none;
}


.List {
    -ms-overflow-style: none;
    scrollbar-width: none; 
} */

.List .errorMsg {
    font-size: 30px;
    width: 100%;
    color: gray;
    font-weight: bolder;
    padding: 20px;
    text-align: center;
}

.resultEnd {
    font-weight: bold;
    text-align: center;
    /* height: 100px; */
    /* border: 1px solid black; */
}
